body{
    background-color: #000;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#console{
    padding-top:5%;
}

.success{
    color: #0f0;
    font-weight: bold;
}

.failure{
    color: #f00;
    font-weight: bold;
}

.red{
    color: #f00;
    font-weight: bold;
}

.error{
    color: #f00;
}

.blue{
    color: #00f;
    font-weight: bold;
}

.console-input{
    background: none;
    width: 50%;
    border: none;
}

input {
    color: transparent;
    text-shadow: 0 0 0 #fff;
  
    &:focus {
        outline: none;
    }
  }

.noBorders{
    border: 0px;
    margin-bottom: 0px;
}

.noBorders thead{
    font-weight: bold;
    text-align: center;
}

.noBorders td{
    padding-left: 5px;
    padding-right: 5px;
}