body{
    background-color: #000;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#console{
    padding-top:5%;
}

.success{
    color: #0f0;
    font-weight: bold;
}

.failure{
    color: #f00;
    font-weight: bold;
}

.red{
    color: #f00;
    font-weight: bold;
}

.error{
    color: #f00;
}

.blue{
    color: #00f;
    font-weight: bold;
}

.console-input{
    background: none;
    width: 50%;
    border: none;
}

input {
    color: transparent;
    text-shadow: 0 0 0 #fff;
  
    &:focus {
        outline: none;
    }
  }

  input:focus{
      outline: none;
  }

.noBorders{
    border: 0px;
    margin-bottom: 0px;
}

.noBorders thead{
    font-weight: bold;
    text-align: center;
}

.noBorders td{
    padding: 2px 5px;
}

a{
    text-decoration: none;
    color: #0af;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
}

.small-text{
    font-size: 6px;
    color:white;
}

.small-text p{
    margin:0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* .small-text br{
    display:block;
    margin: -10px 0px;
    content: " ";
} */

/* @include chrome-styles {
    .small-text br{
        margin: -20px 0px;
    }
} */